In [2]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import numpy as np

In [3]:
df = pd.read_table('Data_28_F29.txt', delimiter=',')

In [4]:
df.columns.values

array(['FID', 'ID', 'FIELD', 'OID_1', 'YLD00', 'YLD01', 'YLD02', 'YLD03',
       'AVGYLD', 'ELE', 'SLOPE', 'CURV', 'PRO', 'PLAN', 'EC_SH', 'EC_DP',
       'BAND1', 'BAND2', 'BAND3', 'BAND4', 'VI00_520', 'VI00_528',
       'VI00_613', 'VI00_707', 'VI00_715', 'VI00_723', 'VI00_816',
       'VI00_824', 'VI00_901', 'VI00_917', 'VI01_616', 'VI01_624',
       'VI01_710', 'VI01_827', 'VI01_912', 'VI02_518', 'VI02_526',
       'VI02_619', 'VI02_713', 'VI02_721', 'VI02_830', 'VI02_907',
       'VI02_923', 'VI03_505', 'VI03_529', 'VI03_606', 'VI03_622',
       'VI03_724', 'VI03_825', 'VI03_926', 'STD00', 'STD01', 'STD02',
       'STD03', 'CV', 'M3_00', 'M3_01', 'M3_02', 'M3_03', 'M3_AV', 'CL_AV',
       'CL_00', 'CL_01', 'CL_02', 'CL_03'], dtype=object)

In [25]:
columns = ['FIELD','YLD00','YLD01','YLD02','YLD03','AVGYLD','ELE','SLOPE','CURV',
           'PRO','PLAN','EC_SH','EC_DP','BAND1','BAND2','BAND3','BAND4','VI00_520','VI00_528',
           'VI00_613','VI00_707','VI00_715','VI00_723','VI00_816','VI00_824','VI00_901','VI00_917',
           'VI01_616','VI01_624','VI01_710','VI01_827','VI01_912','VI02_518','VI02_526','VI02_619',
           'VI02_713','VI02_721','VI02_830','VI02_907','VI02_923','VI03_505','VI03_529','VI03_606',
           'VI03_622','VI03_724','VI03_825','VI03_926']
ndvi_cols = ['VI00_520','VI00_528',
           'VI00_613','VI00_707','VI00_715','VI00_723','VI00_816','VI00_824','VI00_901','VI00_917',
           'VI01_616','VI01_624','VI01_710','VI01_827','VI01_912','VI02_518','VI02_526','VI02_619',
           'VI02_713','VI02_721','VI02_830','VI02_907','VI02_923','VI03_505','VI03_529','VI03_606',
           'VI03_622','VI03_724','VI03_825','VI03_926']
band_cols = ['BAND1','BAND2','BAND3','BAND4']
yld_cols = ['YLD00','YLD01','YLD02','YLD03','AVGYLD']

In [26]:
df_use = df[columns]
df_use.head()

,FIELD,YLD00,YLD01,YLD02,YLD03,AVGYLD,ELE,SLOPE,CURV,PRO,...,VI02_830,VI02_907,VI02_923,VI03_505,VI03_529,VI03_606,VI03_622,VI03_724,VI03_825,VI03_926
0,C29,1012.799988,1201.900024,943.599976,1082,1060.099976,1080.06,0.0879,0.002694,-0.001178,...,0.359116,0.273810,0.026178,-0.042553,-0.215094,-0.157303,-0.136364,-0.021505,0.128571,0.085366
1,C29,930.000000,1352.000000,1033.099976,1202,1129.199951,1080.08,0.0575,0.001403,-0.000473,...,0.439560,0.345238,0.096774,-0.053763,-0.220974,-0.169399,-0.163842,-0.010870,0.144828,0.144578
2,C29,902.000000,1389.400024,1073.699951,1196,1140.300049,1080.10,0.0906,-0.004624,0.004098,...,0.445652,0.345238,0.124324,-0.057592,-0.219331,-0.170213,-0.184358,-0.016043,0.140940,0.111111
3,C29,931.900024,1348.099976,1042.400024,1120,1110.599976,1080.13,0.1291,-0.001335,0.001011,...,0.425532,0.345238,0.104167,-0.071429,-0.236364,-0.165775,-0.169399,0.005405,0.120000,0.135135
4,C29,885.000000,1301.199951,978.400024,1119,1070.800049,1080.18,0.1515,0.002538,-0.001229,...,0.387097,0.321637,0.094737,-0.066667,-0.226277,-0.183246,-0.169399,-0.005291,0.099338,0.069767

In [39]:
def yld_category(yld):
    if yld <= 603:
        return 1
    elif 603 < yld <= 766:
        return 2
    elif 766 < yld <= 882:
        return 3
    elif 882 < yld <= 956:
        return 4
    elif 956 < yld <= 1018:
        return 5
    elif 1018 < yld <= 1075:
        return 6
    elif 1075 < yld <= 1134:
        return 7
    elif 1134 < yld <= 1200:
        return 8
    elif 1200 < yld <= 1280:
        return 9
    elif yld > 1280:
        return 10

In [40]:
FY00_cols = ['FIELD_C28', 'FIELD_C29', 'ELE','SLOPE','CURV','PRO','PLAN','EC_SH','EC_DP',
             'BAND1','BAND2','BAND3','BAND4','VI00_520','VI00_528','VI00_613','VI00_707',
             'VI00_715','VI00_723','VI00_816','VI00_824','VI00_901','VI00_917','YLD00']
FY01_cols = ['FIELD_C28', 'FIELD_C29', 'ELE','SLOPE','CURV','PRO','PLAN','EC_SH','EC_DP',
             'BAND1','BAND2','BAND3','BAND4','VI01_616','VI01_624','VI01_710','VI01_827',
             'VI01_912','YLD01']
FY02_cols = ['FIELD_C28', 'FIELD_C29', 'ELE','SLOPE','CURV','PRO','PLAN','EC_SH','EC_DP',
             'BAND1','BAND2','BAND3','BAND4','VI02_518','VI02_526','VI02_619',
             'VI02_713','VI02_721','VI02_830','VI02_907','VI02_923', 'YLD02']
FY03_cols = ['FIELD_C28', 'FIELD_C29', 'ELE','SLOPE','CURV','PRO','PLAN','EC_SH','EC_DP',
             'BAND1','BAND2','BAND3','BAND4','VI03_505','VI03_529','VI03_606',
             'VI03_622','VI03_724','VI03_825','VI03_926','YLD03']

In [41]:
# def plot_correlation_map(df):
#     corr = df.corr()
#     _ , ax = plt.subplots(figsize=(22, 20))
#     cmap = sns.diverging_palette(220, 10, as_cmap=True)
#     _ = sns.heatmap(
#         corr, 
#         cmap=cmap,
#         square=True, 
#         cbar_kws={'shrink': .9}, 
#         ax=ax, 
#         annot=True, 
#         annot_kws={'fontsize': 12}
#     )
# plot_correlation_map(df[FY02_cols])

In [29]:
FIELD = pd.get_dummies(df_use['FIELD'] , prefix = 'FIELD')
full = pd.concat([FIELD, df_use.loc[:, df_use.columns != 'FIELD']], axis=1)
full.head()

,FIELD_C28,FIELD_C29,YLD00,YLD01,YLD02,YLD03,AVGYLD,ELE,SLOPE,CURV,...,VI02_830,VI02_907,VI02_923,VI03_505,VI03_529,VI03_606,VI03_622,VI03_724,VI03_825,VI03_926
0,0,1,1012.799988,1201.900024,943.599976,1082,1060.099976,1080.06,0.0879,0.002694,...,0.359116,0.273810,0.026178,-0.042553,-0.215094,-0.157303,-0.136364,-0.021505,0.128571,0.085366
1,0,1,930.000000,1352.000000,1033.099976,1202,1129.199951,1080.08,0.0575,0.001403,...,0.439560,0.345238,0.096774,-0.053763,-0.220974,-0.169399,-0.163842,-0.010870,0.144828,0.144578
2,0,1,902.000000,1389.400024,1073.699951,1196,1140.300049,1080.10,0.0906,-0.004624,...,0.445652,0.345238,0.124324,-0.057592,-0.219331,-0.170213,-0.184358,-0.016043,0.140940,0.111111
3,0,1,931.900024,1348.099976,1042.400024,1120,1110.599976,1080.13,0.1291,-0.001335,...,0.425532,0.345238,0.104167,-0.071429,-0.236364,-0.165775,-0.169399,0.005405,0.120000,0.135135
4,0,1,885.000000,1301.199951,978.400024,1119,1070.800049,1080.18,0.1515,0.002538,...,0.387097,0.321637,0.094737,-0.066667,-0.226277,-0.183246,-0.169399,-0.005291,0.099338,0.069767

In [44]:
full00 = full[FY00_cols]
full00['YLD00_Category'] = full00['YLD00'].apply(lambda x: yld_category(x))
full00[['YLD00', 'YLD00_Category']].head()

         YLD00  YLD00_Category
0  1012.799988               5
1   930.000000               4
2   902.000000               4
3   931.900024               4
4   885.000000               4

In [51]:
full00_X = full00.loc[:, full00.columns != 'YLD00']
full00_y = full00.YLD00_Category

In [53]:
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import Imputer

my_pipeline = make_pipeline(Imputer(), DecisionTreeClassifier(criterion = "gini", random_state = 100,
                               max_depth=3, min_samples_leaf=5))
from sklearn.model_selection import cross_val_score
scores = cross_val_score(my_pipeline, full00_X, full00_y, cv=10, scoring='accuracy')
print(scores)

[ 0.77669903  0.7745098   0.76767677  0.7755102   0.7755102   0.78350515
  0.79166667  0.78947368  0.78723404  0.79569892]