In [1]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import numpy as np


from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split, StratifiedKFold
from sklearn.model_selection import GridSearchCV, cross_val_score

from sklearn.metrics import roc_curve, auc
from sklearn.preprocessing import label_binarize
from sklearn.multiclass import OneVsRestClassifier
import matplotlib.pyplot as plt
import scikitplot as skplt

def compute_score(clf, X, y, scoring='mean_squared_error'):
    xval = cross_val_score(clf, X, y, cv = 5, scoring=scoring)
    return np.mean(xval)

In [5]:
df = pd.read_csv('pollution2.csv')

In [6]:
df.head()

   pollution  dew  temp   press wnd_dir  wnd_spd  snow  rain
0        129  -16  -4.0  1020.0      SE     1.79     0     0
1        148  -15  -4.0  1020.0      SE     2.68     0     0
2        159  -11  -5.0  1021.0      SE     3.57     0     0
3        181   -7  -5.0  1022.0      SE     5.36     1     0
4        138   -7  -5.0  1022.0      SE     6.25     2     0

In [7]:
df['wnd_dir'] = df['wnd_dir'].astype('category')
df["wnd_dir"] = df["wnd_dir"].cat.codes
df.head()

   pollution  dew  temp   press  wnd_dir  wnd_spd  snow  rain
0        129  -16  -4.0  1020.0        2     1.79     0     0
1        148  -15  -4.0  1020.0        2     2.68     0     0
2        159  -11  -5.0  1021.0        2     3.57     0     0
3        181   -7  -5.0  1022.0        2     5.36     1     0
4        138   -7  -5.0  1022.0        2     6.25     2     0

In [8]:
df = df.astype('float32')

In [9]:
df.dtypes

pollution    float32
dew          float32
temp         float32
press        float32
wnd_dir      float32
wnd_spd      float32
snow         float32
rain         float32
dtype: object

In [10]:
df_X = df.loc[:, df.columns != 'pollution']
df_y = df['pollution']